{% extends 'layout.html' %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'left_sidebar.html' %}
            </div>
            <div>

            </div>
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">

                        <div class="view-product">
                            <img src="/assets/images/{{ p.image }}" alt="" />
                            <h3>ZOOM</h3>
                        </div>

                        <div id="similar-product" class="carousel slide" data-ride="carousel">

                            <!-- Wrapper for slides -->


                            <!-- Controls -->
                            <a class="left item-control" href="#similar-product" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right item-control" href="#similar-product" data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="/assets/images/product-details/new.jpg" class="newarrival" alt="" />
                            <h2>{{ p.material }}</h2>
                            <p>Web ID: {{ p.code }}</p>
                            <img src="/assets/images/product-details/rating.png" alt="" />
								<span>
									<span>{{ p.price }} VND</span>

									<input type="text" value="3" />
									<button type="button" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
								</span>
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> E-SHOPPER</p>
                            <a href=""><img src="/assets/images/product-details/share.png" class="share img-responsive"  alt="" /></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

               <div class="p_detail">
                  <p>
                      {{ p.detail|raw }}
                  </p>
               </div>
                </div><!--/category-tab-->



            </div>
        </div>
    </div>
</section>
{% endblock %}

