
<h2>Danh mục</h2>
<div class="panel-group category-products" id="accordian">
    <p></p>
    {% for cat in categories %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                {% if cat.child | length > 0 %}
                    <a href="/?m=product&a=list&id={{ cat.parent.id }}">
                        <span class="badge pull-right">({{ cat.parent.count }})</span>
                        {{ cat.parent.title }}
                    </a>
                    <a data-toggle="collapse" data-parent="#accordian" style="float: right" href="#menu_child{{ loop.index }}">+</a>
                {% else %}
                    <a href="/?m=product&a=list&id={{ cat.parent.id }}">
                        <span class="badge pull-right">({{ cat.parent.count }})</span>
                        {{ cat.parent.title }}
                    </a>
                {% endif %}
            </h4>
        </div>
        {% if cat.child | length > 0 %}
            <div id="menu_child{{ loop.index }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        {% for c in cat.child %}
                            <li><a href="/?m=product&a=list&id={{ c.id }}">{{ c.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>